{% extends "layoutmain.html" %}
{% load static %}
<html lang="en">


{% block maintitle %}
درباره ی ما
{% endblock %}


{% block mainbody %}
  <div class="click-closed"></div>


  <!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">جایی برای یافتن خانه ایی که واقعا به آن تعلق دارید</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ About Star /-->
  <section class="section-about">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="about-img-box">
            <img src="{% static 'img/_slide_about.jpg' %}" alt="" class="img-fluid">
          </div>
          <div class="sinse-box">
            <h3 class="sinse-title">سرای من
              <span></span>
              <br>تاسیس 1377</h3>
            <p>املاک</p>
          </div>
        </div>
        <div class="col-md-12 section-t8">
          <div class="row">
            <div class="col-md-6 col-lg-5">
              <img src="{% static 'img/_manager2.jpg' %}" alt="" class="img-fluid">
            </div>
            <div class="col-lg-2  d-none d-lg-block">
              <div class="title-vertical d-flex justify-content-start">
                <span>املاک سرای من</span>
              </div>
            </div>
            <div class="col-md-6 col-lg-5 section-md-t3">
              <div class="title-box-d">
                <h3 class="title-d">آشنایی با
                  <span class="color-d"> مدیریت  </span>این مجموعه
                  <br> حامد احمدی</h3>
              </div>
              <p class="color-text-a text-right">
              ما از سال 1377، با هدف ایجاد فضایی مطمئن و حرفه ایی در زمینه مدیریت املاک
                پا به میدان گذاشته ایم. با بیش از دو دهه تجربه، ما به عنوان یک مرجع معتبر
                در صنعت املاک شناخته شده ایم ئ همواره در تلاشیم تا بهترین خدمات را به مشتریان خود ارائه دهیم.
                تخصص ما در زمینه املاک، نه تنها این امکان را به ما می دهد تا به نیاز های شما پاسخ دهیم
                بلکه ما را قادر می سازد تا با تحلیل بازار و شناخت دقیق از روندهای جاری، بهترین گزینه را برای شما فراهم می کنیم.
              </p>
              <p class="color-text-a text-right">
              ما با راه اندازی این وبسایت، گامی بزرگ در جهت تسهیل فرایند خرید، فروش و رهن خانه بر داشته ایم
              این پلتفرم به شما امکان می دهد تا به راحتی و با چند کلیک ملک مورد نظر خود را پیدا کنید یا آگهی خود را ثبت کنید.
                ما در تلاشیم تا با ساتفاده از فناوری های نوین و خدمات مشاوره ایی حرفه ایی، تجربه ایی راحت و مطمئن را برای شما فراهم کنیم با ما همراه باشید و از امکانات ویژه ی این سایت بهره مند شوید.

              </p>
              <p class="color-text-a text-right">
              در ادامه خدمات این وبسایت لازم به ذکر است که برای عقد قرار داد به صورت نهایی و انجام مراحل قانونی، مشتریان باید
                به صورت حضوری به دفتر مشاورین املاک مراجعه کنند. این مرحله به منظور اطمینان از صحت اطلاعات و همچنین انجام فرآیند های لازم به صورت
                قانونی انجام می شود.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ About End /-->


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

{% endblock %}
</html>
