{% extends "layoutmain.html" %}
{% load static %}
<html lang="en">

{% block maintitle %}
صفحه اصلی
{% endblock %}

{% block mainbody %}
  <div class="click-closed"></div>


  <!--/ Carousel Star /-->
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
      <div class="carousel-item-a intro-item bg-image" style="background-image: url('{% static 'img/slide-1.jpg' %}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      <span class="color-b">فروش </span> خانه
                      <br> به بهترین شکل ممکن </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url('{% static 'img/slide-2.jpg' %}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      <span class="color-b">اجاره </span> خانه ایی
                      <br> که همیشه دنبالش بوده اید</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item-a intro-item bg-image" style="background-image: url('{% static 'img/slide-3.jpg' %}')">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <h1 class="intro-title mb-4">
                      <span class="color-b">رهن </span>ملک
                      <br> با شرایط استثنائی </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ Carousel end /-->

  <!--/ Services Star /-->
  <section class="section-services section-t8" dir="rtl">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">خدمات ما</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-title-c align-self-center">
                <h2 class="title-c">رهن</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c text-right">
              اگر به دنبال خانه ای برای رهن می باشید ما بهترین انتخاب ها را با
                شرایط مالی متنوع برای شما فراهم کرده ایم با خدمات حرفه ایی ما، خیالتان از پیدا
                کردن خانه ای  مقرون  به صرفه راحت باشد
                ما همراه شما هستیم  تا در سریع ترین زمان، خانه ی دلخواهتان را پیدا کنید.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-title-c align-self-center">
                <h2 class="title-c">اجاره</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c text-right">
              با ما خانه ها و آپارتمان ها را برای اجاره با شرایط مناسب پیدا کنید.
                تیم ما به شما کمک می کند تا با توجه به
                بودجه و نیازهایتان، اتنخابی مطمئن و اقتصادی داشته باشید. اجاره خانه بدون دغدغه تنها با چند کلیک.
              </p>
            </div>
            <div class="card-footer-c">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-title-c align-self-center text-right">
                <h2 class="title-c">خرید</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c text-right">
                اگر به فکر خرید خانه هستید پیشنهاد های متنوع ما در حوزه فروش املاک به شما کمک می کند تا بهترین
                انتخاب را داشته باشید. ما املاک مختلفی را با قیمت های رقابتی ارائه می دهیم
                و در تمامی مراحل خرید همراه و مشاور شما هستیم. خانه رویایتان همنجا منتظر شماست.
              </p>
            </div>
            <div class="card-footer-c">
            </div>
          </div>
        </div>
        <div class="col-md-4" style="margin-right: 385px; margin-top: 10px;">
          <div class="card-box-c foo">
            <div class="card-header-c d-flex">
              <div class="card-title-c align-self-center text-right">
                <h2 class="title-c">ثبت آگهی</h2>
              </div>
            </div>
            <div class="card-body-c">
              <p class="content-c text-right">
                آگر به دنبال فروش، اجاره یا رهن ملک خود هستید، فرصت طلایی را از دست ندهید!
                با ثبت آگهی خود در سایت ماو ملک شما در دید خریداران و مستاجر های زیادی
                قرار میگیرد. فرایند ثبت آگهی آسان و رایگان است.
                فقط با چند کلیک، اطلاعات ملک خود را وارد کنید و بلافاصله منتظر مشاورین املاک با تجربه ی این مجموعه باشید.
                ما پلتفرمی امن و حرفه ایی را فراهم کرده ایم تا شما بدون دغدغه و با خیال آسوده، ملک خود را به بهترین شکل ممکن معرفی و معامله کنید.
              </p>
            </div>
            <div class="card-footer-c">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Services End /-->

  <!--/ Property Star /-->
  <section class="section-property section-t8">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="title-wrap d-flex justify-content-between">
            <div class="title-box">
              <h2 class="title-a">جدید ترین املاک</h2>
            </div>
            <div class="title-link">
              <a href="{% url 'property' %}">تمام آگهی ها
                <span class="ion-ios-arrow-forward"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div id="property-carousel" class="owl-carousel owl-theme">
        {% for property in properties %}
        <div class="carousel-item-b">
          <div class="card-box-a card-shadow">
            <div class="img-box-a">
              <img src="{{ property.image.url }}" alt="{{ property.title }}" class="img-a img-fluid">
            </div>
            <div class="card-overlay">
              <div class="card-overlay-a-content">
                <div class="card-header-a">
                  <h2 class="card-title-a">
                    <a>{{ property.title }}
                      <br /> {{ property.address }} </a>
                  </h2>
                </div>
                <div class="card-body-a">
                  <div class="price-box d-flex">
                    <span class="price-a">{{ property.house_type }} | {{ property.price }} تومان </span>
                  </div>
                  <a href="{% url 'Property_detail' property.id %}" class="link-a">برای طلاعات بیشتر کلیک کنید
                    <span class="ion-ios-arrow-forward"></span>
                  </a>
                </div>
                <div class="card-footer-a">
                  <ul class="card-info d-flex justify-content-around">
                    <li>
                      <h4 class="card-info-title text-center">مساحت</h4>
                      <span>{{ property.area }}m<sup>2</sup></span>
                    </li>
                    <li>
                      <h4 class="card-info-title text-center">اتاق </h4>
                      <span>{{ property.beds }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title text-center">سرویس بهداشتی</h4>
                      <span>{{ property.bath }}</span>
                    </li>
                    <li>
                      <h4 class="card-info-title text-center">گاراژ</h4>
                      <span>{{ property.garage }}</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <!--/ Property End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>
{% endblock %}
</html>
