{% load static %}
<html lang="en">
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

<body>
  <!-- JavaScript Libraries -->
  <script type="text/javascript" src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>
  <!-- Contact Form JavaScript File -->
  <!--/ script type="text/javascript"  src="{% static 'contactform/contactform.js' %}"></script> /-->

  <!-- Template Main Javascript File -->
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>